# Make nano the default editor
export EDITOR="nano"
# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups

# Set Path
export PATH=$PATH:.:/opt/local/bin:/opt/local/sbin:~/phab/arcanist/bin:~:/Applications/Android\ Studio.app/sdk/platfor\
m-tools:/Applications/Android\ Studio.app/sdk/tools

# Set default prompt
#export PS1="`hostname` \u$ "
